table(class = "table table-striped")
   tbody
      tr
         th(width = "100px") Submit ID
         th(width = "150px") Date
         th(width = "100px") User Name
         th Problem
         th(width = "180px") Status
         th(width = "50px")
      each submit in submits
         tr(class = (submit.score >= 9)? 'status success' : 'status error')
            td= submit.sId
            td= submit.time
            td= submit.name
            td= submit.problem
            td
               if submit.score >= 9
                  b: font(color = 'red')= "All Accepted (9/9)"
               else
                  b: font(color = 'green')= 'Not Accepted (' + submit.score + '/9)'